body {
  background-color: lightgray;
  box-sizing: border-box;
  /* height: 200vh; */
}
div[class*="box"] {
  width: 200px;
  height: 200px;
  font-size: 2em;
  text-align: center;
  line-height: 200px;
  position: absolute;
}
.box1 {
  background-color: coral;
  top: 0;
  left: 0;
  z-index: 0;
}
.box2 {
  background-color: burlywood;
  top: 20px;
  left: 50px;
}
.box3 {
  background-color: chocolate;
  top: 100px;
  left: 100px;
}
